@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNextCyrRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeueBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
