:root {
  // Colors
  --color-accent: #e75626;
  --color-main: #ffffff;
  --color-bg: #171719;

  // Fonts
  --font-family-main: Bebas, Consolas, sans-serif;
  --font-family-descr: Avenir, Roboto, sans-serif;
}
