.Modal {
  font-family: var(--font-family-main);

  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  color: var(--color-main);
  background-color: rgba(0, 0, 0, 0);

  transition: all 0.5s ease;
  pointer-events: none;
}

.opened {
  transition: all 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: all;

  .modalContent {
    transform: scale(1);
  }
}

.noScroll {
  overflow: hidden;
}

.modalContent {
  text-align: center;
  background-color: #262628;
  padding: 50px;
  transform: scale(0);
}

.modalTitle {
  color: var(--color-accent);
  font-size: 36px;
  line-height: 35px;
  margin-bottom: 35px;
}

.modalDescr {
  font-family: var(--font-family-descr);
  max-width: 320px;
  margin-bottom: 60px;
  font-size: 16px;

  a {
    text-decoration: none;
    color: var(--color-accent);
  }
}
