// Themes
.default {
  font-family: var(--font-family-descr);
  color: var(--color-main);
  padding: 12px 20px;
  border-radius: 30px;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid #ffffff;

  &::placeholder {
    font-family: var(--font-family-descr);
    color: var(--color-main);
    opacity: 0.5;
    font-size: 14px;
  }

  // Небольшой костыль, чтобы не менять фон инпута при выборе вариантов из автозаполнения,
  // которые предлагает браузер. Других решений не нагуглил.
  &:-webkit-autofill {
    transition: all 5000s ease-in-out 0s;
  }
  //
}

.clear {
  padding: 0;
  border-radius: 0;
}
//
