.FormSection {
  padding-top: 48px;
  padding-bottom: 85px;
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 421px;
}

.formTitle {
  color: var(--color-accent);
  margin-bottom: 20px;
}

.formDescr {
  max-width: 421px;
  margin-bottom: 35px;
}

.formInput {
  margin-bottom: 24px;
}

.usersInfo {
  color: var(--color-accent);
  font-family: var(--font-family-main);
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 24px;
}

.inputLabel {
  font-family: var(--font-family-main);
  font-size: 24px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.formSubmitBtn {
  align-self: flex-start;
}

.table {
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;

  &_visible {
    opacity: 1;
    pointer-events: all;
  }
}

.headers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 35px;
  margin-bottom: 16px;
  padding-right: 30px;

  h3 {
    font-family: var(--font-family-main);
    font-size: 24px;
  }
}

.rowsList {
  max-height: 685px;
  padding-right: 30px;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background: var(--color-main);
    width: 1px;
  }
  &::-webkit-scrollbar {
    width: 1px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-accent);
    opacity: 0.5;
  }
}

.rowsListItem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-gap: 10px;
  padding: 16px 0;
  border-top: 1px solid var(--color-main);

  &:last-child {
    border-bottom: 1px solid var(--color-main);
  }

  span {
    font-family: var(--font-family-descr);
    font-size: 14px;
  }

  &_userItem {
    color: var(--color-accent);
    position: relative;
  }

  &_userItemBtn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
