$sizePlanet: var(--size-planet);
$sizeOrbit: var(--size-orbit);
$auraImg: var(--path-planet-aura);
$planetX: var(--pos-planet-x);
$planetY: var(--pos-planet-y);

.AnimatedPlanet {
  &_aura {
    position: absolute;
    width: $sizeOrbit;
    height: $sizeOrbit;
    background-image: $auraImg;
    top: -161px;
    right: -105px;
    z-index: -2;
  }

  &_auraWrapper {
    width: $sizeOrbit;
    height: $sizeOrbit;
    position: relative;
  }

  &_orangeLine {
    position: absolute;
    top: 22px;
    right: 3%;
  }

  &_orbitBorder {
    position: absolute;
    top: -142px;
    right: -84px;
    z-index: 10;
  }

  &_planetImg {
    position: absolute;
    right: $planetX;
    bottom: $planetY;
    z-index: -1;
    width: $sizePlanet;
    height: $sizePlanet;
    object-fit: contain;
  }

  &_label {
    position: absolute;
    top: 30px;
    right: 46%;
    width: 80px;
    height: 30px;
    padding: 8px 12px;
    border-radius: 15px;
    background-color: #fff;
    color: #171719;
    font-family: var(--font-family-main);
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    z-index: -1;
  }
}
