.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainLink {
  padding: 12px 85px;
  background-color: #5a5a5a;
  border: 1px dashed #c7c7c7;
  text-transform: uppercase;
}
