.rowsListItem {
  &:last-child {
    border-bottom: 1px solid var(--color-main);
  }

  span {
    font-family: var(--font-family-descr);
    font-size: 14px;
  }

  &_link,
  &_userItem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-gap: 10px;
    padding: 16px 0;
    border-top: 1px solid var(--color-main);
    transition: color 0.3s ease;
  }

  &_link:hover {
    color: var(--color-accent);
  }

  &_userItem {
    color: var(--color-accent);
    position: relative;
  }

  &_userItemBtn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
